doctype html
html(lang="en")
  head
    title Landing Page
  body
  h1 The future home of something magical!
  p Oranges cucumbers rhubarb gourds watermelon. Rooster celery pineapples fertilizer, a melon chirp pets in. Sage mower goat, raccoons rhubarb
   
